/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html {
    height: 100%;
}

body {
    /*display: flex;
    flex-direction: column;
    min-height: 100vh;*/
    /*take care of shaking screen issue*/
    /*overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));*/
    /*take care of shaking screen issue*/

    font-family: "open_sansregular", Helvetica, Arial, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.6875;
    color: #444;
}

.Site {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.SiteContent {
    flex: 1 1 auto;
}

.content {
    flex: 1;
}

.inputBox {
    display: flex;
}

.stickyFooter {
    min-height: calc(100vh - 380px);
}

/* -------------------------------------------- start yes / no button ----------------------------------------------------- */

.ns-btn-yes-no {
    padding: 20px 32px;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.33333;
    text-decoration: none;
    margin: 27px auto;
    margin-right: auto;
    min-width: 120px;
    min-width: 6rem;
    border: 0;
    border-radius: 6px;
}

/* -------------------------------------------- start back link ----------------------------------------------------- */

.ns-back-link {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    transition: .2s ease;
}

@media (min-width: 40.0625em) {
    .ns-back-link {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}

.ns-back-link:hover,
.ns-back-link:active,
.ns-back-link:focus {
    color: #002f58;
}

.ns-back-link[href] {
    text-decoration: underline;
}

    .ns-back-link[href]:focus {
        text-decoration: none;
    }

        .ns-back-link[href]:hover:before,
        .ns-back-link[href]:active:before,
        .ns-back-link[href]:focus:before {
            border-color: #002f58;
            transition: .2s ease;
        }

.ns-back-link:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3px;
    width: 7px;
    height: 7px;
    margin: auto 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #0058a4;
}

.ns-back-link:after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    bottom: -14px;
    left: 0;
}
/* -------------------------------------------- end back link -------------------*/

button:focus {
    -webkit-box-shadow: 0 0 0 4px #f8d44c;
    -moz-box-shadow: 0 0 0 4px #f8d44c;
    -o-box-shadow: 0 0 0 4px #f8d44c;
    box-shadow: 0 0 0 4px #f8d44c;
    transition: box-shadow 0.2s ease;
    border-radius: 4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
}

.btn-lg, .btn-sm, .btn-xs {
    margin: 1rem auto;
}

.btn-default {
    transition: 0.2s ease;
}

.ns-btn-2nd {
    color: #0058a4;
    background-color: #fff;
    border-color: transparent;
    transition: 0.2s ease;
}

    .ns-btn-2nd:hover {
        color: #0058a4;
        background-color: #d4d4d4;
        border-color: rgba(0,0,0,0);
        transition: 0.2s ease;
    }

.btn-success {
    transition: 0.2s ease;
    display: inline-block;
    cursor: pointer;
}

.btn-warning {
    color: #fff;
    background-color: #a94442;
    border-color: transparent;
    transition: 0.2s ease;
}

    .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
        color: #fff;
        background-color: #821c1b;
        border-color: transparent;
        transition: 0.2s ease;
    }

a.btn-success:not([href]):not([tabindex]) {
    color: #fff;
}

/* -------------------------------------------- button general ----------------------------------------------------- */


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    margin-top: 0 !important;
}

.header.nonav {
    border-bottom: 15px solid #0058a4 !important;
}


/* For Lang Selection */
#block-languageswitcher {
    clear: both;
}

    #block-languageswitcher h2, #block-languageswitcher .links .is-active {
        display: none;
    }

    #block-languageswitcher .links {
        margin: 0;
        padding: 0;
        float: right;
        position: relative;
        list-style: none;
        text-align: right;
    }

        #block-languageswitcher .links li {
            display: inline-block;
            margin: 0 0 0 0.5em;
            padding: 0;
            position: relative;
            width: auto;
        }

            #block-languageswitcher .links li:before {
                content: '';
                position: absolute;
                z-index: -1;
                right: 0;
                background: #fff;
                width: 100%;
                height: 100%;
                transform: skewX(-30deg);
            }

            #block-languageswitcher .links li a {
                color: #ffffff !important;
                display: inline-block;
                padding: 0.15em 1.5em;
            }

.mobile #block-languageswitcher .links {
    background: #fff;
}

@media (min-width:768px) {
    #block-languageswitcher {
        position: absolute;
        top: 0;
        right: 0;
    }
}

/* End of Lang Selection*/


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* overrides saltire.css */
.btn-xxl {
    padding: 20px 32px;
    font-size: 24px;
    line-height: 1.33333;
    border-radius: 6px;
    text-decoration: none;
    margin: 27px auto;
    min-width: 120px;
}

.btn-xxl-wide {
    padding: 20px 16px;
    font-size: 24px;
    line-height: 1.33333;
    border-radius: 6px;
    text-decoration: none;
    margin: 27px auto;
    min-width: 180px;
}

.m-b-xxl {
    margin-bottom: 50px;
}

.m-b-md {
    margin-bottom: 20px;
}

.m-t-md {
    margin-top: 20px;
}

.underlineLink {
    text-decoration: underline;
}

.legendQuestion {
    font-size: medium;
    margin-bottom: unset !important;
}

.hidden {
    display: none;
}

.h3-header, .h2-header, .h1-header {
    color: #2750a0;
}

.page-header {
    margin-bottom: .25em;
    border: 1px solid #808080;
    text-align: center;
}

.langStyle {
    float: right;
    color: #ffffff;
    font-weight: 700;
    margin: 10px;
    text-decoration: none;
    z-index: 1;
}

.nslabel {
    color: #444 !important;
    font-family: "open_sansbold",Helvetica,Arial,Tahoma,sans-serif !important;
}

.nshinttext {
    color: #444 !important;
}
/* For Lang Selection */
#block-languageswitcher {
    clear: both;
}

    #block-languageswitcher h2, #block-languageswitcher .links .is-active {
        display: none;
    }

    #block-languageswitcher .links {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
    }

        #block-languageswitcher .links li {
            display: inline-block;
            margin: 0 0 0 0.5em;
            padding: 0;
            position: relative;
            width: auto;
        }

            #block-languageswitcher .links li:before {
                content: '';
                position: absolute;
                z-index: -1;
                right: 0;
                background: #fff;
                width: 100%;
                height: 100%;
                transform: skewX(-30deg);
            }

            #block-languageswitcher .links li a {
                color: #0058a4;
                display: inline-block;
                padding: 0.15em 1.5em;
            }

.mobile #block-languageswitcher .links {
    background: #fff;
}

@media (min-width:768px) {
    #block-languageswitcher {
        position: absolute;
        top: 0;
        right: 0;
    }
}

/* End of Lang Selection*/

.headerImg {
    width: 6.5em;
}

.unorderedList {
    list-style-type: disc;
}

/* For input validations */
.input-validation-error {
    border: 2px solid #a94442 !important;
}

.error-indicator {
    display: none;
}

.form-group.has-error .error-indicator {
    display: inline;
}

.form-control {
    border: 1px solid #000000 !important;
}

.form-group {
    margin-bottom: 15px;
}

/* End of input validations*/

/*.chkBoxes {
    display: flex;
    flex: 1;*/ /*fixed safari issue*/
/*align-items: flex-start;
}*/

/*.chkBoxLabel {
    flex: 2;*/ /*fixed safari issue*/
/*word-wrap: normal;
}*/

.chkMark {
    color: #27AE60;
    display: flex;
    vertical-align: central;
}

.errorAlert {
    color: #a94442;
}

.success {
    color: #408334;
}

.unorderedList li {
    list-style-type: disc;
}

.unorderedSubList li {
    list-style-type: circle;
}

.faIconColor {
    color: #008599;
}

.faCheckColor {
    color: #408334;
}

.linkBreak {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.dayMonthField {
    width: 50px;
}

.yearField {
    width: 100px;
}

.govns-radios__item {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    clear: left;
}

    .govns-radios__item:last-child,
    .govns-radios__item:last-of-type {
        margin-bottom: 0;
    }

.govns-radios__input {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0;
    flex: 0 0 auto;
}

.govns-radios__label {
    display: inline-flex;
    /*margin-bottom: 20px;*/
    padding: 5px 15px 10px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.govns-label-span {
    padding: 3px 12px;
    position: relative;
    left: -12px;
    flex: 1 1 auto;
}

.govns-radios__item:hover .govns-label-span {
    background-color: #f8d44c;
}

.govns-radios__item:hover .govns-radios__input + .govns-radios__label:before {
    box-shadow: 0 0 0 10px #f8d44c;
    transition: 0.2s ease;
}

.govns-radios__item:hover .govns-radios__item .govns-radios__input:focus + .govns-radios__label:before {
    box-shadow: 0 0 0 4px #f8d44c, 0 0 0 10px #f8d44c;
}

@media (hover: none), (pointer: coarse) {
    .govns-radios__item:hover .govns-radios__item .govns-radios__input + .govns-radios__label:before {
        box-shadow: none;
    }

    .govns-radios__item:hover .govns-radios__item .govns-radios__input:focus + .govns-radios__label:before {
        box-shadow: 0 0 0 4px #f8d44c;
    }
}

.govns-radios__label:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #a2a2a2;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
}

.govns-radios__label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 36px;
    height: 36px;
    border: 10px solid #0058a4;
    border-radius: 50%;
    opacity: 0;
    background: #0058a4;
}

.govns-radios__input:focus + .govns-radios__label:before {
    border-width: 4px;
    box-shadow: none;
}

.govns-radios__input:checked + .govns-radios__label:after {
    opacity: 1;
}

.govns-radios--inline.govns-radios--conditional .govns-radios__item {
    margin-right: 0;
    float: none;
}

.govns-radios__divider {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.govns-radios--small .govns-radios__item {
    min-height: 0;
    margin-bottom: 0;
    padding-left: 34px;
    float: left;
}

    .govns-radios--small .govns-radios__item .govns-label-span {
        padding: 0px 12px;
        position: relative;
        left: -10px;
    }

    .govns-radios--small .govns-radios__item:after {
        content: "";
        display: block;
        clear: both;
    }

.govns-radios--small .govns-radios__input {
    left: -10px;
}

.govns-radios--small .govns-radios__label {
    margin-top: -2px;
    padding: 13px 15px 2px 0;
    float: left;
}

    .govns-radios--small .govns-radios__label:before {
        top: 8px;
        width: 24px;
        height: 24px;
    }

    .govns-radios--small .govns-radios__label:after {
        top: 10px;
        left: 2px;
        width: 18px;
        height: 18px;
        border-width: 10px;
        color: #0058a4;
    }

.govns-radios--small .govns-radios__hint {
    padding: 0;
    clear: both;
    pointer-events: none;
}

.govns-radios--small .govns-radios__conditional {
    margin-left: 10px;
    padding-left: 20px;
    clear: both;
}

.govns-radios--small .govns-radios__divider {
    width: 24px;
    margin-bottom: 5px;
}

.legendSpanLarge {
    font-weight: normal;
    font-size: 1.75em;
}

.getTestAlert {
    background-color: #DDF2FE;
}

.btn-warning {
    color: #fff;
    background-color: #a94442;
    border-color: transparent;
    transition: 0.2s ease;
}

    .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
        color: #fff;
        background-color: #821c1b;
        border-color: transparent;
        transition: 0.2s ease;
    }

/*new design style*/
.ns-fieldset {
    margin-bottom: 20px;
}

    .ns-fieldset:after {
        content: "";
        display: block;
        clear: both;
    }

@media (min-width: 40.0625em) {
    .ns-fieldset {
        margin-bottom: 30px;
    }
}

.ns-fieldset .ns-fieldset:last-of-type {
    margin-bottom: 0;
}

.ns-panel__heading__container {
    color: #3c7c31;
}

.ns-panel__heading {
    margin: 0;
}

@media only screen and (max-width: 576px) {
    .ns-heading__icon-left {
        display: none;
    }
}

.ns-panel__content {
    border-left: 5px solid #3c7c31;
    padding: 0.5rem 0 0 2.5rem;
    margin: .5rem 0 0 1rem;
}

@media only screen and (max-width: 576px) {
    .ns-panel__content {
        margin-left: 0;
        padding-left: 1.5rem;
    }
}

.ns-panel__content__heading {
    margin-top: 0;
}

.ns-panel .ns-fieldset {
    margin-bottom: 0;
}

.ns-heading__icon {
    display: inline-flex;
    align-items: baseline;
    color: inherit;
}

.ns-heading__icon-left {
    margin-right: 1rem;
}

.ns-heading__icon-right {
    margin-left: 1rem;
}

.ns-heading__icon:before {
    padding-right: 10px;
}

.ns-btn__icon {
    display: inline-flex;
    align-items: baseline;
    text-align: left;
}

    .ns-btn__icon .ns-btn__icon-left {
        margin-right: .5rem;
    }

    .ns-btn__icon .ns-btn__icon-right {
        margin-left: .5rem;
    }

    .ns-btn__icon:before {
        padding-right: 5px;
    }

.ns-checkboxes__item {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    clear: left;
}

@media print {
    .ns-checkboxes__item {
        font-family: sans-serif;
    }
}

@media print {
    .ns-checkboxes__item {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.ns-checkboxes__item:last-child,
.ns-checkboxes__item:last-of-type {
    margin-bottom: 0;
}

.ns-checkboxes__item:hover .ns-label-span {
    background-color: #f8d44c;
    transition: 0.2s ease;
}

.ns-checkboxes__input {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0;
}

.ns-checkboxes__label {
    display: inline-flex;
    margin-bottom: 0;
    padding: 8px 15px 5px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

label.ns-checkboxes__label.noBold {
    font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
    font-weight: normal;
}

.ns-checkboxes__label:before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #A2A2A2;
    background: #fff;
    transition: 0.2s ease;
}

.ns-checkboxes__input:checked + .ns-checkboxes__label:before {
    background: #0058A4;
}

.ns-checkboxes__label:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 11px;
    left: 9px;
    width: 23px;
    height: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent;
    color: #fff;
}

.ns-checkboxes__hint {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.5rem;
}

.ns-checkboxes__input:focus + .ns-checkboxes__label:before, .ns-checkboxes__input:hover + .ns-checkboxes__label:before {
    -webkit-box-shadow: 0 0 0 3px #F8D44C;
    box-shadow: 0 0 0 3px #F8D44C;
}

.ns-checkboxes__input:checked + .ns-checkboxes__label:after {
    opacity: 1;
}

.ns-checkboxes__input:disabled,
.ns-checkboxes__input:disabled + .ns-checkboxes__label {
    cursor: default;
}

    .ns-checkboxes__input:disabled + .ns-checkboxes__label {
        opacity: 0.5;
    }

.ns-checkboxes__conditional {
    margin-bottom: 15px;
    margin-left: 18px;
    padding-left: 33px;
    border-left: 4px solid #b1b4b6;
}

@media (min-width: 40.0625em) {
    .ns-checkboxes__conditional {
        margin-bottom: 20px;
    }
}

.js-enabled .ns-checkboxes__conditional--hidden {
    display: none;
}

.ns-checkboxes__conditional > :last-child {
    margin-bottom: 0;
}

.ns-checkboxes--small .ns-checkboxes__item {
    min-height: 0;
    margin-bottom: 0;
    padding-left: 34px;
    float: left;
}

    .ns-checkboxes--small .ns-checkboxes__item:after {
        content: "";
        display: block;
        clear: both;
    }

.ns-checkboxes--small .ns-checkboxes__input {
    left: -10px;
}

.ns-checkboxes--small .ns-checkboxes__label {
    margin-top: -2px;
    padding: 13px 15px 13px 1px;
    float: left;
}

.ns-checkboxes--small .ns-checkboxes__item .ns-label-span {
    padding: 0px 12px;
    position: relative;
    left: -10px;
}

@media (min-width: 40.0625em) {
    .ns-checkboxes--small .ns-checkboxes__label {
        padding: 11px 15px 10px 1px;
    }
}

.ns-checkboxes--small .ns-checkboxes__label:before {
    top: 8px;
    width: 24px;
    height: 24px;
}

.ns-checkboxes--small .ns-checkboxes__label:after {
    top: 15px;
    left: 6px;
    width: 12px;
    height: 6.5px;
    border-width: 0 0 3px 3px;
}

.ns-checkboxes--small .ns-checkboxes__hint {
    padding: 0;
    clear: both;
}

.ns-checkboxes--small .ns-checkboxes__conditional {
    margin-left: 10px;
    padding-left: 20px;
    clear: both;
}

.ns-checkboxes--small .ns-checkboxes__item:hover .ns-checkboxes__input:not(:disabled) + .ns-checkboxes__label:before {
    -webkit-box-shadow: 0 0 0 10px #F8D44C;
    box-shadow: 0 0 0 5px #F8D44C;
}

.ns-checkboxes--small .ns-checkboxes__item:hover .ns-checkboxes__input:focus + .ns-checkboxes__label:before {
    -webkit-box-shadow: 0 0 0 3px #F8D44C, 0 0 0 5px #F8D44C;
    box-shadow: 0 0 0 3px #F8D44C, 0 0 0 5px #F8D44C;
}

/* -------------------------------------------- start form group error ----------------------------------------------------- */
.ns-fieldset {
    margin-bottom: 20px;
}

    .ns-fieldset:after {
        content: "";
        display: block;
        clear: both;
    }

@media (min-width: 40.0625em) {
    .ns-fieldset {
        margin-bottom: 30px;
    }
}

.ns-fieldset .ns-fieldset:last-of-type {
    margin-bottom: 0;
}


/* -------------------------------------------- start general input styles ----------------------------------------------------- */


input[type="text"], input[type="email"], input[type="number"], input[type="tel"], textarea, input[list] {
    border: 1px solid #a2a2a2;
}

    input[type="text"]:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="tel"]:hover, textarea:hover, input[list]:hover,
    input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, textarea:focus, input[list]:focus,
    input[type="text"]:active, input[type="email"]:active, input[type="number"]:active, input[type="tel"]:active, textarea:active, input[list]:active {
        -webkit-box-shadow: 0 0 0 4px #f8d44c;
        -moz-box-shadow: 0 0 0 4px #f8d44c;
        -o-box-shadow: 0 0 0 4px #f8d44c;
        box-shadow: 0 0 0 4px #f8d44c;
        transition: box-shadow 0.2s ease;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[list] {
    height: 40px;
    height: 2.5rem;
}

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], textarea, input[list] {
    font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0px;
    /* Disable default styling on ff */
    -moz-appearance: none;
    /* Disable default styling on webkit browsers */
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0 0 0 0 #a2a2a2;
    box-shadow: 0 0 0 0 #a2a2a2;
    outline: none;
}

/* -------------------------------------------- end general input styles ----------------------------------------------------- */

/* -------------------------------------------- start prefix and suffix  ----------------------------------------------------- */
.ns-input__wrapper.inline {
    display: inline-flex;
}

.ns-input__prefix,
.ns-input__suffix {
    font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    min-width: 40px;
    min-width: 2.5rem;
    padding: 5px;
    border: 1px solid #a2a2a2;
    background-color: #f1f1f0;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.ns-input__prefix {
    border-right: 0;
}

.ns-input__suffix {
    border-left: 0;
}

.ns-input__prefix + input {
    position: relative;
    z-index: 1;
}

input + .ns-input__suffix {
    position: relative;
    z-index: -1;
}
/* -------------------------------------------- end prefix and suffix  ----------------------------------------------------- */



.ns-fieldset-message-error {
    padding-left: 15px;
    border-left: 5px solid #a94442;
}

.ns-fieldset-message-warning {
    padding-left: 15px;
    border-left: 5px solid #8a6d3b;
}

.ns-fieldset--error .ns-fieldset {
    padding: 0;
    border: 0;
}

.ns--message {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    clear: both;
}

.ns-error-message {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.25;
    display: block;
    /*margin-bottom: 15px;*/
    clear: both;
    color: #a94442 !important;
}

.ns-warning-message {
    color: #8a6d3b;
}

.ns-error-indicator {
    color: #a94442;
}

.ns-error-link {
    text-decoration: underline;
    color: #a94442;
}

.ns-hint {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}

.ns-fieldset__legend + .ns-hint, .ns-label-wrapper + .ns-hint {
    margin-top: -0.5em;
}

.ns-select--error {
    border: 2px solid #d4351c;
}

    .ns-select--error:focus {
        border-color: #0b0c0c;
    }

.fw-2 {
    max-width: 3em;
    width: 100%;
}

.fw-4 {
    max-width: 4em;
    width: 100%;
}

.fw-6 {
    max-width: 6em;
    width: 100%;
}

.fw-8 {
    max-width: 8em;
    width: 100%;
}

.fw-10 {
    max-width: 10em;
    width: 100%;
}

.fw-15 {
    max-width: 15em;
    width: 100%;
}

.fw-20 {
    max-width: 20em;
    width: 100%;
}

.fw-25 {
    max-width: 25em;
    width: 100%;
}

.fw-30 {
    max-width: 30em;
    width: 100%;
}

.fw-33 {
    max-width: 33em;
    width: 100%;
}

.fw-35 {
    max-width: 35em;
    width: 100%;
}

.fw-40 {
    max-width: 40em;
    width: 100%;
}

.fw-50 {
    max-width: 50em;
    width: 100%;
}

/* -------------------------------------------- end form group error ----------------------------------------------------- */
/* End of new style*/

/* for index page */
.newBanner {
    background-color: #DDF2FE;
    margin-bottom: 2em;
}

@media only screen and (max-width: 768px) {
    .hidden-xs {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .safeCheckin-img {
        margin-top: 5.5em;
    }
}

.safeCheckin-img {
    width: 100%;
    margin: 0 0 1em 0;
}

.parent-child-img {
    width: 60%;
    height: 60%;
    text-align: center;
    margin: .4em .4em .1em .5em;
}

.btn-long {
    white-space: normal;
}

/* end of for index page */

.errMsg {
    color: #a94442 !important;
}


.summary {
    border: none;
    padding: 0;
    background: transparent;
}

/* Addressing dropdown issues */
.dropdown {
    border: 1px solid #a2a2a2;
    height: 40px;
    height: 2.5rem;
    position: relative;
    overflow: hidden;
}

    .dropdown:hover, .dropdown:focus, .dropdown:active {
        box-shadow: 0 0 0 4px #f8d44c !important;
    }

    .dropdown:after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        right: 10px;
        bottom: 0;
        margin: auto;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #444 transparent transparent transparent;
        pointer-events: none;
        z-index: 2;
    }

    .dropdown:before {
        width: 30px;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        background: #fff;
        content: '';
        pointer-events: none;
        z-index: 1;
    }
/* End of dropdown issues */

.govns-radios__label_Hint {
    margin-bottom: 0px !important;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    max-height: 200px;
    /* prevent scrollbars */
    overflow-y: hidden;
    overflow-x: hidden;
}

.labelWithHint {
    margin-bottom: unset !important;
}

/*--------- upload button ------------*/
.ns-upload {
    /* to simulate a button, put your button style here */
    border: 0;
    display: inline-block;
    font-size: 17.5px;
    background-color: #0058a4;
    color: #fff;
    transition: 0.2s ease;
    margin-bottom: 0 !important;
    max-width: 30%;
    cursor: pointer;
    font-weight: 400;
}

.ns-upload-button {
    width: 0px;
    outline: none !important;
    opacity: 0;
    visibility: unset;
    height: 0px;
    display: none;
    color: transparent !important;
    margin-bottom: 0 !important;
}
/*-------- end of upload button-------------*/

.warning {
    margin: 0 0.5em 0 0 !important;
}

/* --------------------------------------------start visiually hidden screen reader accessible ----------------------------------------------------- */
.ns-visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

.ns-visually-hidden-focusable {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
}

    .ns-visually-hidden-focusable:active,
    .ns-visually-hidden-focusable:focus {
        position: static !important;
        width: auto !important;
        height: auto !important;
        margin: inherit !important;
        overflow: visible !important;
        clip: auto !important;
        -webkit-clip-path: none !important;
        clip-path: none !important;
        white-space: inherit !important;
    }
/* --------------------------------------------end visiually hidden screen reader accessible ----------------------------------------------------- */


.ns-visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

.uploadTable {
    border: none !important;
}
table thead tr th {
    border: none !important;
    padding: 0px !important;
}

table tbody {
    border: none !important;
}

table tbody tr {
    border: none !important;
}

table tbody tr td {
    border-bottom: none !important;   
    border-color: #dee2e6;
    padding: 0px !important;
}
