@page "/ViewDocument/{templateId}/{documentId}"
@model ViewDocumentModel
@using SimpleFormsService.Web.Admin.Resources
@{
    ViewData["Title"] = @StringResource.PageTitle_ViewDocument;
}

@section featured
{
    <section class="row ns-fieldset stickyFooter" id="viewDoc">
        <div class="col-lg-12">
         <form asp-antiforgery="true">
             
        </form>
         </div>
    </section>
}
