@using SimpleFormsService.Web.Admin.Resources
@{
    ViewData["Title"] = @StringResource.PageTitle_Error;
}

@section featured
{
    <section class="row ns-fieldset stickyFooter" id="error">
        <div class="col-lg-12">            
            <h1 class="ml-0">@StringResource.Error_Message</h1>
        </div>
    </section>
}
