@using SimpleFormsService.Web.Public.Forms.Shared;

<nav id="navigation" class="ribbon pb-xl-5 pt-1" role="navigation" aria-label="Main navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a id="ns-logo" href="https://novascotia.ca/" hreflang="en"><img class="ribbon-img" src="@SharedResource.Logo_link" alt="Province of Nova Scotia" /></a>
            </div>
        </div>
    </div>
</nav>