html {
    height: 100%;
}

.SiteContent {
    flex: 1 1 auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*take care of shaking screen issue*/
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    /*take care of shaking screen issue*/
}

.content {
    flex: 1;
}

.stickyFooter {
    min-height: calc(100vh - 380px);
}


